@import "../../../../common/common.styl";

.menu-logo-component {
    color: $colors.gray;
    font: 28px $font-family;
    font-weight: 900;
    letter-spacing: -2px;
    text-decoration: none;
    margin-left: 20px;
    padding: 20px 0;
}