@import "../../../common/common.styl";

.button-component {
    background-color: $colors.red;
    border: 1px solid $colors.red;
    border-radius: 3px;
    color: $colors.white;
    display: inline-block;
    font: $font;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px 0;
    max-width: 100px;
    transition: all ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
    }
}